#----- Custom definitions
set $mod mod4
font pango:monospace 8
for_window [class="^.*"] border pixel 5
gaps inner 10

#----- Floating windows definitions
for_window [title=Telegram] sticky enable
for_window [title=Telegram] floating enable
for_window [title=Telegram] resize set 380 480
for_window [title=Telegram] move position center

#----- Colors    #border #backgr #text   #indica #childb
client.focused   #4c7899 #285577 #ffffff #80b1d3 #3282bd
client.unfocused #333333 #222222 #888888 #292d2e #00000000

#----- Starting some things
exec --no-startup-id setwallpaper ~/wall.png
exec --no-startup-id setxkbmap -option altwin:swap_alt_win
exec --no-startup-id compton
exec --no-startup-id xrdb ~/dotfiles/Xresources
exec --no-startup-id setlaptoptrackpad
exec --no-startup-id dunst -config ~/dotfiles/dunstrc
exec --no-startup-id gdrive pull

bar {
	position top
	font pango:monospace 11
	status_command i3blocks -c ~/.config/i3blocks
	colors {
		 statusline 	    #3282bd
		 separator          #000000
		 focused_workspace  #000000 #3282bd #000000
		 inactive_workspace #000000 #000000 #3282bd
	}
}

#----- Basic key bindings
floating_modifier $mod

bindsym $mod+Escape 			exec --no-startup-id ~/scripts/power.sh
#bindsym $mod+Shift+Escape 		TODO

bindsym Print 				exec --no-startup-id screenshot selection
bindsym Shift+Print 			exec --no-startup-id screenshot fullscreen

bindsym $mod+Return 			exec --no-startup-id $TERMINAL
#bindsym $mod+Return 			TODO

bindsym $mod+space 			focus mode_toggle
bindsym $mod+Shift+space 		floating toggle

#----- Letter key bindings
bindsym $mod+q	 			kill
#bindsym $mod+Shift+q 			TODO

bindsym $mod+w	 			exec --no-startup-id $BROWSER
#bindsym $mod+Shift+w	 		TODO

bindsym $mod+e	 			exec --no-startup-id $TERMINAL -e vifm
bindsym $mod+Shift+e	 		exec --no-startup-id $TERMINAL -e lf

#bindsym $mod+r	 			TODO
bindsym $mod+Shift+r	 	 	restart

bindsym $mod+t	 			exec --no-startup-id telegram-desktop
bindsym --release $mod+Shift+t	 	exec --no-startup-id telegram-desktop && xdotool key p && xdotool key KP_Enter

bindsym $mod+y	 			exec --no-startup-id i3resize left
#bindsym $mod+Shift+y	 		TODO

bindsym $mod+u	 			exec --no-startup-id i3resize down
#bindsym $mod+Shift+u	 		TODO

bindsym $mod+i	 			exec --no-startup-id i3resize up
#bindsym $mod+Shift+i	 		TODO

bindsym $mod+o	 			exec --no-startup-id i3resize right
#bindsym $mod+Shift+o	 		TODO

#bindsym $mod+p	 			TODO
#bindsym $mod+Shift+p	 		TODO

bindsym $mod+a	 			split toggle
bindsym $mod+Shift+a	 		focus parent

#bindsym $mod+s	 			TODO
#bindsym $mod+Shift+s	 		TODO

bindsym $mod+d  			exec --no-startup-id dmenu_run -nb Black -fn ':bold:pixelsize=15'
#bindsym $mod+Shift+d 			exec --no-startup-id rofi -theme dmenu -show drun

bindsym $mod+f	 			fullscreen toggle
#bindsym $mod+Shift+f	 		TODO

#bindsym $mod+g	 			TODO
#bindsym $mod+Shift+g	 		TODO

bindsym $mod+h	 			focus left
bindsym $mod+Shift+h	 		move left

bindsym $mod+j	 			focus down
bindsym $mod+Shift+j	 		move down

bindsym $mod+k	 			focus up
bindsym $mod+Shift+k	 		move up

bindsym $mod+l	 			focus right
bindsym $mod+Shift+l	 		move right

#bindsym $mod+ç	 			TODO
#bindsym $mod+Shift+ç	 		TODO

#bindsym $mod+z	 			TODO
#bindsym $mod+Shift+z	 		TODO

#bindsym $mod+x				TODO
#bindsym $mod+Shift+x	 		TODO

#bindsym $mod+c	 			TODO
bindsym $mod+Shift+c			reload

#bindsym $mod+v				TODO
#bindsym $mod+Shift+v			TODO

#bindsym $mod+b				TODO
#bindsym $mod+Shift+b			TODO

#bindsym $mod+n	 			TODO
#bindsym $mod+Shift+n	 		TODO

#bindsym $mod+m				TODO
#bindsym $mod+Shift+m			TODO

# -----Arrow keys
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

#----- Workspaces
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10
